.title{
  text-align: center;
}

.container{
  margin: 5px 20px 5px 50px;
}

.square{
  border: 0.1px solid black;
  height: 8vh;
  width: 4.5vw;
  display: inline-block;
}

.laser{
  background-color: red;
}

.player{
  background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/spaceship-103-707736.png');
  background-size: cover;
}

.monster{
  background-image: url('https://www.shareicon.net/data/512x512/2015/12/26/693632_spaceship_512x512.png');
  background-size: cover;
}
